<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    form > p {
        text-align: center;
        text-decoration: underline;
        color: red;
    }

    .logBtn {
        color: red;
        background: black;
    }

</style>
<body>

    <form action="/user/login" method="post">
        <p> 로그인 </p>
        <input type="text" name="id">
        <br>
        <input type="password" name="pw"
               placeholder="WRITE PW"
               max="10">
        <br>
        <button class="logBtn" type="submit" style="margin-top: 20px">로그인</button>
    </form>


</body>
</html>