<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="/user/register" method="post">
        <div>
             <p> 회원가입 </p>
            <input type="text" name="id">
            <br>
            <input type="password" name="pw"
                   placeholder="WRITE PW"
                   max="10">
            <br>
            <button type="submit" style="margin-top: 20px">가입하기</button>
        </div>
    </form>
</body>

</html>